html {
  text-align: left;
  display:inline;
  font-family: 'Muli', sans-serif;
  vertical-align: middle;
  min-height:100vh;
  min-width:100vw;
  background: linear-gradient(325deg, #29566B, #769198);
  color:white;
}

#background {
  z-index:-99;
  position:fixed;
  left:0;
  top:0;
  min-height:100vh;
  min-width:100vw;
  background-image:url("background.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

h1 {
  margin: 6vh 14vw;
  padding:3vh 0;
  padding-top:15vh;
  min-height:0vh;
  vertical-align:middle;
}

@-webkit-keyframes autofill {
    to {
        background: linear-gradient(to right, #66ffcc , #66ffff);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#textBox::placeholder {
    color: white;
}

#textBox {
  border-radius: 0.6rem;
  padding-left:2rem;
  margin-left:-2rem;
  margin:6vh 14vw;
  background: linear-gradient(to right, #66ffcc , #66ffff);
  border:none;
  color:white;
  height:4.5rem;
  width:18rem;
  font-size:2rem;
  -webkit-tap-highlight-color:transparent;
  outline-style:none;
}

p {
  text-align: left;
  padding:6vh 14vw;
  font-size:1.8rem;
}